# Sanity Configuration
VITE_SANITY_PROJECT_ID=hquuom5o
VITE_SANITY_DATASET=production
VITE_SANITY_TOKEN=skSyaZ9Ikv3AvjzgNB6YDfHeZTV1G8TLTLdp85TjS3S2mNP1dRnGZil6pq0IjszvGa3QClxNctpCW5ZNOVYmRIxlMY0NLCUcWMbwJsGVaTWMFHkr6xjDn86nG3fWz5eva80WVQUaZAlYUulvMM6FsZUdySMdf4EDDFoa8JV00E9YC2EYXZXU